.hero {
  width: 100%;
  padding: 6rem 0 0 0;
  background-color: var(--grey_color);
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}

/* --------------------------- */

.hero .right {
  width: 38rem;
  padding: 1.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .right img {
  width: 100%;
}

/* --------------------------- */

.hero .left {
  width: 36rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text_color_secondary);
}

.hero .left span.top {
  font-family: IranSans_ul, sans-serif;
  font-size: 1.2rem;
  color: var(--text_color_tertiary);
}

.hero .left .title {
  margin: 0 0 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text_color_primary);
}

.hero .left span.bottom {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: var(--text_color_tertiary);
}

.hero .left .social {
  margin: 0 0 3vw 0;
  display: flex;
  gap: 1.1rem;
  transition: color 1s;
}

.hero .left .social a {
  text-decoration-line: none;
}

.hero .left .social a:link,
.hero .left .social a:visited {
  color: var(--text_color_secondary);
}

.hero .left .social i {
  font-size: 1.16rem;
}

.hero .left .social i:hover {
  color: var(--grey_hover_color);
}

.hero .left .button {
  width: 9rem;
  height: 3rem;
  padding: 0.4rem 0;
  border: none;
  border-radius: 2.75rem;
  font-weight: bold;
  font-family: "IranSans", sans-serif;
  background-color: var(--color_primary);
  transition: transform 200ms;
  cursor: pointer;
}

.hero .left .button:hover {
  transform: translateY(-0.12rem);
  background-color: var(--color_primary_light);
}

.hero .left .button i {
  margin-right: 0.25rem;
  vertical-align: middle;
}

/* --------------------------- */

@media (max-width: 1200px) {
  .hero {
    padding: 6.5rem 0 2rem 0;
  }

  .hero .left .title {
    font-size: 1.9rem;
  }

  .hero .left span.bottom {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .hero .container {
    flex-direction: column;
  }

  .hero .right img {
    max-width: 30rem;
  }

  .hero .left {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero .left .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .hero .right img {
    width: 75vw;
  }

  .hero .left .title {
    font-size: 1.7rem;
  }

  .hero .left .social {
    margin-bottom: 6vw;
  }
}

@media (max-width: 360px) {
  .hero .left .title {
    font-size: 1.5rem;
  }

  .hero .left span.bottom {
    font-size: 1.06rem;
  }

  .hero .left .social {
    margin-bottom: 8vw;
  }
}
